
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

  .font-one{
    font-family:'Roboto Slab', serif ;
    font-size: 58px ;
    font-weight: 700 ;
    color: #0a2ff1 ;

  }
  .font-two{
    font-family:  'Roboto', sans-serif;
    font-size: 25px ;
    font-weight: 400 ;
    color: #000000;
    
  }
  .font-three{
    font-family: 'Roboto', sans-serif ;
    font-size: 25px ;
    font-weight: 700 ;
    color: #0a2ff1 ;
    
  }
  .font-four{
    font-family: 'Roboto', sans-serif ;
    font-size: 24px ;
    font-weight: 400 ;
    color: #000000 ;

  }
  button{
    font-family: 'Roboto', sans-serif;
    font-size: 26px ;
    font-weight: 400 ;
    background-color:#0a2ff1 ;
    width: 300px;
    right: 50px;
    margin-bottom: 10px;
    margin-left: 130px;
  }
  h1{
    margin-left: 30px;
    }
  
  h3{
    margin-left: 130px;
    margin-top: 40px;
   }

  a{
    color: white;
    text-decoration: none;
  }
  main{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }
  .img-one{
   background-size: contain;
   width: 100%;
   display: block;
   margin: 0 auto;
   
  }
  .img-two{
    width: 80%;
    display: block;
    margin: 0 auto;
    }
  
    footer{
    width: 100%;
    
    }
    
    body{
        margin: 0px;
        border-bottom: 20px solid #15163d;
    }

  
    